<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" *ngIf="User" href="#">{{User}}</a>
    <a class="navbar-brand"  *ngIf="!User" href="#">Todos</a>
    <div>
    <button type="button" *ngIf="isAuth" class="btn btn-info mr-3" (click)="logOut()">Log out</button>
    <button type="button" routerLink="/signup" *ngIf="!isAuth" class="btn btn-info mr-3">Sign Up</button>
    <button type="button" routerLink="/login" *ngIf="!isAuth" class="btn btn-info mr-3">Login</button>
    </div>
</nav>